In [2]:
import pandas as pd

In [3]:
raw = pd.read_csv('./data/IRIS.csv')
raw.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
raw['species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [5]:
# make IDs
raw['id'] = range( len(raw) )

# switch the columns order
raw = raw[ ['id','sepal_length','sepal_width','petal_length','petal_width','species'] ]
raw.head()

   id  sepal_length  sepal_width  petal_length  petal_width      species
0   0           5.1          3.5           1.4          0.2  Iris-setosa
1   1           4.9          3.0           1.4          0.2  Iris-setosa
2   2           4.7          3.2           1.3          0.2  Iris-setosa
3   3           4.6          3.1           1.5          0.2  Iris-setosa
4   4           5.0          3.6           1.4          0.2  Iris-setosa

# knn (classfication)

In [6]:
# choose 100 iris randomly and set them as a train set.
train = raw.sample( 100, replace = False, random_state = 42).reset_index( drop = True)

train.head()

    id  sepal_length  sepal_width  petal_length  petal_width          species
0   73           6.1          2.8           4.7          1.2  Iris-versicolor
1   18           5.7          3.8           1.7          0.3      Iris-setosa
2  118           7.7          2.6           6.9          2.3   Iris-virginica
3   78           6.0          2.9           4.5          1.5  Iris-versicolor
4   76           6.8          2.8           4.8          1.4  Iris-versicolor

In [9]:
# set the rest of the data as a test set.
test = raw.loc[ ~raw['id'].isin(train['id']) ].reset_index( drop = True )

In [10]:
from sklearn.neighbors import KNeighborsClassifier

In [11]:
for k in range(1, 30):
    
    knn = KNeighborsClassifier(n_neighbors = k)
    
    knn.fit( train[ ['sepal_length','sepal_width','petal_length','petal_width'] ], train['species'] )
    
    predictions = knn.predict( test[ ['sepal_length','sepal_width','petal_length','petal_width'] ])
    
    print( f"k = {k}, {(pd.Series(predictions) == test['species']).mean()}" )

k = 1, 0.96
k = 2, 0.96
k = 3, 0.96
k = 4, 0.96
k = 5, 0.96
k = 6, 0.96
k = 7, 0.96
k = 8, 0.98
k = 9, 0.96
k = 10, 0.96
k = 11, 0.96
k = 12, 0.96
k = 13, 0.96
k = 14, 0.96
k = 15, 0.94
k = 16, 0.96
k = 17, 0.94
k = 18, 0.94
k = 19, 0.94
k = 20, 0.94
k = 21, 0.94
k = 22, 0.94
k = 23, 0.96
k = 24, 0.96
k = 25, 0.96
k = 26, 0.96
k = 27, 0.94
k = 28, 0.94
k = 29, 0.94

when k = 8, it is the best.

# knn (regression)

In [12]:
del train['species']
del test['species']

In [13]:
from sklearn.neighbors import KNeighborsRegressor

In [16]:
for k in range(1, 30):
    
    knn = KNeighborsRegressor(n_neighbors = k)
    
    knn.fit( train[ ['sepal_length','sepal_width','petal_length'] ], train['petal_width'] )
    
    predictions = knn.predict( test[ ['sepal_length','sepal_width','petal_length'] ] )
    
    print( f"k = {k}, {abs(test['petal_width'] - pd.Series(predictions)).mean()}" )

k = 1, 0.19399999999999995
k = 2, 0.171
k = 3, 0.15533333333333332
k = 4, 0.14999999999999997
k = 5, 0.15279999999999996
k = 6, 0.15866666666666662
k = 7, 0.15314285714285714
k = 8, 0.15299999999999997
k = 9, 0.1533333333333333
k = 10, 0.15
k = 11, 0.15181818181818182
k = 12, 0.15083333333333335
k = 13, 0.15323076923076923
k = 14, 0.157
k = 15, 0.15813333333333335
k = 16, 0.163375
k = 17, 0.16929411764705882
k = 18, 0.17511111111111105
k = 19, 0.1767368421052632
k = 20, 0.17860000000000004
k = 21, 0.17942857142857147
k = 22, 0.1820909090909091
k = 23, 0.18295652173913043
k = 24, 0.18350000000000002
k = 25, 0.18688
k = 26, 0.18876923076923074
k = 27, 0.18718518518518515
k = 28, 0.18721428571428572
k = 29, 0.18917241379310343

when k = 4, it is the best.